Repository campbell-rehu/quik: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-fe, build-fe, docker_front_end_image_build_branch, docker_front_end_image_build_release, build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

.gitlab-ci.yml:

stages:
  - test
  - build
  - docker-branch
  - docker-release
  - deploy

test-fe:
  image: node:13.12.0-alpine
  stage: test
  rules:
    - changes:
      - 'src/*'
  script:
    - npm install
    - CI=true npm test

build-fe:
  image: node:13.12.0-alpine
  stage: build
  environment: production
  rules:
    - changes:
      - 'src/*'
  script:
    - npm install
    - SERVER=$QUIK_SERVER_URL BUILD_PATH=./fe-build npm run build
  artifacts:
    paths:
      - 'fe-build/'
    expire_in: 3 days

docker_front_end_image_build_branch:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: ['']
  stage: docker-branch
  rules:
    - if: $CI_COMMIT_BRANCH != "main"
      changes:
        - 'src/*'
      when: always
  environment: production
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile --destination $CI_REGISTRY_IMAGE/quik-fe:CI_COMMIT_BRANCH

docker_front_end_image_build_release:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: ['']
  stage: docker-release
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - 'src/*'
      when: always
  environment: production
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile --destination $CI_REGISTRY_IMAGE/quik-fe:latest

build-be:
  image: node:16.17.1-alpine3.15
  stage: build
  environment: production
  rules:
    - changes:
      - 'server/*'
  script:
    - cd server/
    - npm install
    - NODE_ENV=production npm run build
  artifacts:
    paths:
      - 'server/dist/'
    expire_in: 3 days

docker_back_end_image_build_branch:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: ['']
  stage: docker-branch
  rules:
    - if: $CI_COMMIT_BRANCH != "main"
      changes:
        - 'server/*'
      when: always
  environment: production
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR/server --dockerfile $CI_PROJECT_DIR/server/Dockerfile --destination $CI_REGISTRY_IMAGE/quik-be:$CI_COMMIT_BRANCH

docker_back_end_image_build_release:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: ['']
  stage: docker-release
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - 'server/*'
      when: always
  environment: production
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR/server --dockerfile $CI_PROJECT_DIR/server/Dockerfile --destination $CI_REGISTRY_IMAGE/quik-be:latest

deploy-prod:
  stage: deploy
  script:
    - echo "This job deploys something from the $CI_COMMIT_BRANCH branch."
  environment: production

Update .gitlab-ci.yml file - remove deploy stage
  .gitlab-ci.yml
Due: none

Add Letter component automated test
  src/components/__tests__/Letter.test.tsx
Due: none

Add $ to CI_COMMIT_BRANCH var in docker_front_end_image_build_branch step
  .gitlab-ci.yml
Due: none

Use separate stages for front and back end steps
  .gitlab-ci.yml
Due: none

L -> A
  src/components/__tests__/Letter.test.tsx
Due: none

Add navigationcontext component tests
  src/components/__tests__/NavigationContext.test.tsx
Due: none

Add bulma and use in button and section
  package-lock.json
  package.json
  src/components/Button.tsx
  src/components/Section.tsx
  src/pages/App.css
  src/pages/App.tsx
  yarn.lock
Due: none

Use bulma in Splash
  src/pages/Splash.tsx
Due: none

Lobby -> HowToPlay
  src/constants.ts
  src/pages/App.tsx
  src/pages/HowToPlay.tsx
  src/pages/Lobby.tsx
  src/pages/Room.tsx
  src/pages/Splash.tsx
  src/types.ts
Due: test-fe, build-fe, docker_front_end_image_build_branch, docker_front_end_image_build_release

Refactor input fields on Game page
  src/components/InputField.tsx
  src/pages/Game.tsx
  src/pages/Splash.tsx
Due: none

Use bulma in room
  src/components/Button.tsx
  src/components/Timer.tsx
  src/pages/Room.tsx
Due: none

Add navbar
  src/components/NavigationContext.tsx
  src/pages/Game.tsx
  src/pages/HowToPlay.tsx
  src/pages/Splash.tsx
Due: none

Update NavigationContext tests
  src/components/NavigationContext.tsx
  src/components/__tests__/NavigationContext.test.tsx
Due: none

Improve overall styling
  src/components/Button.tsx
  src/components/InputField.tsx
  src/components/NavigationContext.tsx
  src/components/Timer.tsx
  src/pages/Game.tsx
  src/pages/HowToPlay.tsx
  src/pages/Room.tsx
Due: none

Fix lint issues
  src/pages/Room.tsx
  src/pages/Splash.tsx
Due: none

Allow players to start timer & lock room once started
  server/room.ts
  server/server.ts
  server/types.ts
  src/components/Timer.tsx
  src/pages/Room.tsx
Due: build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

Introduce text mode
  server/server.ts
  src/components/Timer.tsx
  src/pages/Room.tsx
Due: build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

Set TextMode for round + start handling round ending
  server/constants.ts
  server/room.ts
  server/server.ts
  server/types.ts
  src/components/Timer.tsx
  src/constants.ts
  src/pages/Game.tsx
  src/pages/Room.tsx
Due: test-fe, build-fe, docker_front_end_image_build_branch, docker_front_end_image_build_release, build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

Introduce setting Category from server
  server/constants.ts
  server/room.ts
  server/server.ts
  src/pages/Room.tsx
Due: build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

Check for changes in all sub-directories
  .gitlab-ci.yml
Due: none

Handle game end
  server/room.ts
  server/server.ts
  server/types.ts
  src/constants.ts
  src/pages/Game.tsx
  src/pages/Room.tsx
Due: test-fe, build-fe, docker_front_end_image_build_branch, docker_front_end_image_build_release, build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

Fix text mode
  server/room.ts
  server/server.ts
  src/pages/Room.tsx
Due: build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

init main.yml
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

Update README.md
  README.md
Due: none

Create ghcr.yml
  .github/workflows/ghcr.yml
Due: none

Delete .github/workflows/ghcr.yml
  .github/workflows/ghcr.yml
Due: none
