Repository campbell-rehu/quik: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-fe, build-fe, docker_front_end_image_build_branch, docker_front_end_image_build_release, build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

test-fe:
  image: node:13.12.0-alpine
  stage: test
  script:
  - npm install
  - CI=true npm test

build-fe:
  image: node:13.12.0-alpine
  stage: build
  environment: production
  script:
  - npm install
  - SERVER=$QUIK_SERVER_URL BUILD_PATH=./fe-build npm run build
  artifacts:
    paths:
    - fe-build/
    expire_in: 3 days

docker_front_end_image_build_branch:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  stage: docker-branch
  environment: production
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

docker_front_end_image_build_release:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  stage: docker-release
  environment: production
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

build-be:
  image: node:16.17.1-alpine3.15
  stage: build
  environment: production
  script:
  - cd server/
  - npm install
  - NODE_ENV=production npm run build
  artifacts:
    paths:
    - server/dist/
    expire_in: 3 days

docker_back_end_image_build_branch:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  stage: docker-branch
  environment: production
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

docker_back_end_image_build_release:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  stage: docker-release
  environment: production
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

Update main.yml
  .github/workflows/main.yml
Due: none

use faker to generate adjective + noun room id
  server/room.ts
Due: build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

install faker
  package-lock.json
  package.json
  yarn.lock
Due: none

use room id in url
  server/server.ts
  src/components/Button.tsx
  src/components/NavigationContext.tsx
  src/components/RoomContext.tsx
  src/pages/App.tsx
  src/pages/Game.tsx
  src/pages/Room.tsx
Due: build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

include npm install and build in Dockerfile
  Dockerfile
Due: none

remove build step
  .github/workflows/main.yml
Due: none

Add workdir to Dockerfile
  Dockerfile
Due: none

copy all files into container dockerfile
  Dockerfile
Due: none

revert copying all files in dockerfile
  Dockerfile
Due: none

tsconfig target es 2022
  tsconfig.json
Due: none

use different node version image
  .gitlab-ci.yml
Due: none

use es2022 for server
  server/tsconfig.json
Due: build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

add faker to server package.json
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  yarn.lock
Due: build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

expose server on port 5000
  server/server.ts
Due: build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

Rewrite server in go
  .env
  .gitlab-ci.yml
  Dockerfile
  Makefile
  server/.dockerignore
  server/Dockerfile
  server/Dockerfile.prod
  server/api/api.go
  server/go.mod
  server/go.sum
  server/helpers/helpers.go
  server/main.go
  server/package-lock.json
  server/package.json
  server/room/room.go
  server/room/rooms.go
  server/room/timer.go
  server/socket/socket.go
  server/tsconfig.json
  server/types/category.go
  server/types/types.go
  src/components/RoomContext.tsx
  src/components/Timer.tsx
  src/pages/Game.tsx
  src/pages/Room.tsx
  yarn.lock
Due: build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

remove ts server files
  server/constants.ts
  server/room.ts
  server/server.ts
  server/types.ts
Due: build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

add players list
  server/socket/socket.go
  src/pages/Game.css
  src/pages/Game.tsx
  src/pages/Room.tsx
  yarn.lock
Due: none

Reinstate keydown functionality
  src/pages/Room.tsx
Due: none

styling changes
  package-lock.json
  package.json
  src/components/Button.tsx
  src/pages/Game.css
  src/pages/Game.tsx
  src/pages/Room.tsx
  yarn.lock
Due: none

QUIK-14 dont action key down if not enough players
  src/pages/Room.tsx
Due: none

QUIK-9 Send all players list to front-end
  server/room/room.go
  server/socket/socket.go
  server/types/types.go
  src/pages/Game.tsx
  src/pages/Room.tsx
  src/types.ts
Due: test-fe, build-fe, docker_front_end_image_build_branch, docker_front_end_image_build_release

fix: add OPTIONS method to CORS allowed methods and update frontend configuration
  server/main.go
  src/components/RoomContext.tsx
  src/components/WebsocketContext.tsx
Due: build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

feat(ui-ux): major UI/UX improvements, new layouts, and enhanced user feedback in game and lobby screens
  server/api/api.go
  server/go.mod
  server/go.sum
  server/room/players.go
  server/room/room.go
  server/room/rooms.go
  server/room/timer.go
  server/socket/socket.go
  src/components/Button.tsx
  src/components/ErrorBoundary.tsx
  src/components/Letter.tsx
  src/components/RoomContext.tsx
  src/components/__tests__/Button.test.tsx
  src/components/__tests__/InputField.test.tsx
  src/components/__tests__/Letter.test.tsx
  src/components/__tests__/Timer.test.tsx
  src/constants.ts
  src/hooks/__tests__/useLetterGrid.test.tsx
  src/hooks/useLetterGrid.tsx
  src/hooks/useSocketEvents.ts
  src/pages/App.tsx
  src/pages/Game.css
  src/pages/Game.tsx
  src/pages/Room.tsx
  src/pages/Splash.tsx
  src/pages/__tests__/Room.test.tsx
  src/types.ts
  src/utils/__tests__/classNames.test.ts
  src/utils/classNames.ts
Due: test-fe, build-fe, docker_front_end_image_build_branch, docker_front_end_image_build_release, build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

revert server changes
  server/api/api.go
  server/go.mod
  server/go.sum
  server/room/players.go
  server/room/room.go
  server/room/rooms.go
  server/room/timer.go
  server/socket/socket.go
Due: build-be, docker_back_end_image_build_branch, docker_back_end_image_build_release

fix linter warnings
  src/components/ErrorBoundary.tsx
  src/components/RoomContext.tsx
  src/pages/Room.tsx
Due: none

Path conditions:
  test-fe: any of: src/*
  build-fe: any of: src/*
  docker_front_end_image_build_branch: any of: src/*
  docker_front_end_image_build_release: any of: src/*
  build-be: any of: server/*
  docker_back_end_image_build_branch: any of: server/*
  docker_back_end_image_build_release: any of: server/*
